.section {
  flex: 0 0 600px;
}

.scroll {
  overflow-y: auto;
  max-height: 464px;
  scrollbar-width: thin;
  scrollbar-color: #8585ad #2f2f37;
  padding: 0;
  list-style: none;
}

.scroll > :first-child {
  margin-top: 0;
}

@media (max-height: 950px) {
  .scroll {
    max-height: 370px;
  }
}

@media (max-height: 850px) {
  .scroll {
    max-height: 270px;
  }
}

@media (max-height: 750px) {
  .scroll {
    max-height: 175px;
  }
}

.burger {
  padding: 0;
}

.ingredient {
  background: var(--background);
}

.emptyElement {
  composes: ingredient;
  display: inline-flex;
}

.emptyElementText {
  display: inline-flex;
  justify-content: center;
}
