.total {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.total-icon {
  transform: scale(1.5);
  transform-origin: top left;
  width: 36px;
  height: 32px;
}

@media (max-height: 650px) {
  .total {
    margin-top: 16px;
  }
}
